<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @item.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Item categories:</strong>
  <%= @item.item_categories %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @item.rate %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
